SUPABASE_KEY=
SUPABASE_URL=
SUPABASE_CONNECTION_STRING=

APP_API_URL=

AWS_REGION=
KNOWLEDGE_BASE_ID=

GUARDRAIL_ID=
GUARDRAIL_VERSION=

PROMPT_ID=
PROMPT_VERSION=

MODEL_ID=

# Separated by comma
CORS_ORIGINS=http://localhost:3000

CHAT_API_KEY=